
  .container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #2E0073
  }
  
  h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman';
  }