<html>
    <head>
        <link rel="stylesheet" href="/static/design.css">
    </head>
    <img class="logo" src="https://i.imgur.com/PXFiQap.png" type: "image/gif">
<div class="container">
<h1>
<div id="floatimation"></div>
HEXIFY
</h1>
<div class="container">
    <img class="logo" src="https://i.imgur.com/PXFiQap.png" type: "image/gif">
    <div class="button">
<button>
    <a href="./LOGIN.html">LOG IN</a> 
</button>
<br>
<button>
    <a href="./SIGNUP.html">SIGN UP</a>
</button>
</div>
</div>
</html>