<html>
    <head>
        <link rel="stylesheet" href="/static/design.css">
    </head>
    <img class="logo" src="https://i.imgur.com/PXFiQap.png" type: "image/gif">
<div class="container">
<h1>
<div id="floatimation"></div>
HEXIFY
</div>
</h1>

<div class="container">


<img class="slides" src="https://i.imgur.com/Z6BLh5b.gif">
<h3>
FASHION <br> FORWARD <br> THINKING
</h3>
<br>
<p>
has there ever been anything better?
</p>
<img class="logo" src="https://i.imgur.com/PXFiQap.png" type: "image/gif">
<br>

<div class="button">
<button>
<a href="./LOGIN.html">LOG IN</a> 
</button>
<br>
<button>
    <a href="./SIGNUP.html">SIGN UP</a>
</button>

</div>

</div>

<body>
    <div class="flip-card">
    <div class="flip-card-inner">
    <div class="flip-card-front">
    <h2> PRODUCED BY... </h2>
    </div>
    <div class="flip-card-back">
    <p>DS Maxis</p>
    </div>
    </div>
    </div>
    </body>
</html>