<!DOCTYPE html>
<html>
<p id="demo">
Input Words Hereee:<input id="textInput" type:"text">
</p>

<button onclick="myFunc()">
ENTER
</button>

<script>
    function myFunc(){
        console.log(document.getElementById("textInput").value);
        console.log(fetch("/submit",  {
        method: "POST",
        body: document.getElementById("textInput").value,
        headers: {
      "Content-Type": "text/html",
    },
  }).then(onSuccess));

    }

    function onSuccess(data){
      console.log(data.json())
    }
</script>
</html>