<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/inputpage.css">
<h1>
<div id="floatimation">
Find Your Fit
</div>
</h1>

<div class="container">  
<p>
  list your pieces of clothing....
  <br>
  <br>
  <input id="textInput" type:"text">
  </p>

<button onclick="myFunc()">
ENTER
</button>
</div>

<script>
    function myFunc(){
        console.log(document.getElementById("textInput").value);
        console.log(fetch("/submit",  {
        method: "POST",
        body: document.getElementById("textInput").value,
        headers: {
      "Content-Type": "text/html",
    },
  }).then(onSuccess));

    }

    function onSuccess(data){
      console.log(data.json())
    }
</script>
</html>