<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/inputpage.css">
<h1>
<div id="floatimation">
Find Your Fit
</div>
</h1>

<div class="container">  
<p>
  list your pieces of clothing....
  <br>
  <br>
  <input id="textInput" type:"text">
  </p>

<button onclick="myFunc()">
ENTER
</button>
</div>

<p id="output"></p>

<script>
    function myFunc(){
        console.log(document.getElementById("textInput").value);
        fetch("/submit",  {
        method: "POST",
        body: document.getElementById("textInput").value,
        headers: {
      "Content-Type": "text/html",
    },
  }).then(onSuccess);

    }

    function onSuccess(data){
      data.json().then(outputResult)
      
    }

    function outputResult(data){
      // console.log(data)

      // const x = data;

      const reduced = data['options']

      for (const key in reduced) {
        if (Object.prototype.hasOwnProperty.call(reduced, key)) {
          const element = reduced[key];
          console.log(element.name)
          console.log(element.reason)
          
        }
      }


    }

      //console.log(data.jlk
      // console.log(data["options"]["0"]["name"])
      //console.log(typeof(data))
      // console.log(data["options"]["1"]["name"])
</script>
</html>